@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontFamily);
}

body {
    background-color: var(--lightColor);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --darkGreyColor: #333333;
    --greyColor: #666666;
    --mediumGreyColor: #999999;
    --lightgreyColor: #cccccc;
    --mediumLightColor: #dddddd;
    --lightColor: #eeeeee;
    --lowLightColor: #f9f9f9;
    --whiteColor: #ffffff;
    --blackColor: #000000;
    --blueColor: #0866ff;
    --darkBlueColor: #0048bc;
    --redColor: #f02849;
    --greenColor: #45bd62;
    --yellowColor: #f7b928;
    --fontFamily: "Poppins", sans-serif
}