.auth-context {
    background-color: var(--lightColor);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth-context h1 {
    color: var(--blueColor);
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.auth-modal {
    background-color: var(--whiteColor);
    box-shadow: 0 2px 8px 2px var(--lightgreyColor);
    border-radius: 0.5rem;
}

.auth-modal.login {
    max-width: 400px;
    width: 400px;
    min-width: 400px;
}

.auth-modal.signup {
    max-width: 500px;
    width: 500px;
    min-width: 500px;
}